body {
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.download {
    text-align: center;
    color: white;
    background-color: rgb(118, 155, 99);
    width: 100px;
    padding: 12px;
    border-radius: 7px;
}

a {
    text-decoration: none;
}